{
    "BOT_TOKEN": "Nzk5MTQ3MTAzMDMyODM2MTA3.X__VvA.9c4ZGs7WBJfsHCuUETXME_ulN7c",
    "PGUSER": "postgres",
    "PGHOST": "localhost",
    "PGPASSWORD": "postgres",
    "PGDATABASE": "postgres",
    "PGPORT": "5432"
}
