{
    "BOT_TOKEN": "Nzk5MTQ3MTAzMDMyODM2MTA3.X__VvA.WzzEblO57GBbEvktei7hJ0FlMPs",
    "PGUSER": "postgres",
    "PGHOST": "localhost",
    "PGPASSWORD": "postgres",
    "PGDATABASE": "postgres",
    "PGPORT": "5432"
}
